extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a' href='/') Home
    li(class='topnav-li')
      a(class='topnav-a-active' href='/advancedsearch') Advanced search
    li(class='topnav-li')
      a(class='topnav-a' href='/calc') Calculator
  form(method='post', action='/advancedsearch' class='adv-form')
    div(class='adv-name-fit')
      div(class='adv-name')
        input(name='name', placeholder='Name' class='adv-name-input' )
    div(class='container')
      div(class='adv-rarity')
        p(class='adv-header') Rarity
        div(class='checkboxTwo-C')
          p(class='checkboxText') Common
          input(type='checkbox' value='Common' name='rarity' id='checkboxTwoCommon' class='hide')
          label(for='checkboxTwoCommon')
        div(class='checkboxTwo-UC')
          p(class='checkboxText') Uncommon
          input(type='checkbox' value='Uncommon' name='rarity' id='checkboxTwoUncommon' class='hide')
          label(for='checkboxTwoUncommon')
        div(class='checkboxTwo-R')
          p(class='checkboxText') Rare
          input(type='checkbox' value='Rare' name='rarity' id='checkboxTwoRare' class='hide')
          label(for='checkboxTwoRare')
        div(class='checkboxTwo-MR')
          p(class='checkboxText') Mythic Rare
          input(type='checkbox' value='Mythic Rare' name='rarity' id='checkboxTwoMythic' class='hide')
          label(for='checkboxTwoMythic')
        div(class='checkboxTwo')
          p(class='checkboxText') Special
          input(type='checkbox' value='Special' name='rarity' id='checkboxTwoSpecial' class='hide')
          label(for='checkboxTwoSpecial')
      div(class='adv-stats')
        p(class='adv-header') Stats
        div Power
          div
            select(name='po' class='adv-font')
              option(value='') Equal
              option(value='gt') Greater than
              option(value='gte') Great or equal than
              option(value='lt') Less than
              option(value='lte') Less or equal than
            input(type='number' name='wer' min='0' max='99')
        div Toughness
          div
            select(name='tough' class='adv-font')
              option(value='') Equal
              option(value='gt') Greater than
              option(value='gte') Great or equal than
              option(value='lt') Less than
              option(value='lte') Less or equal than
            input(type='number' name='ness' min='0' max='99')
      div(class='adv-type')
        p(class='adv-header') Cardtype
        div(class='checkboxTwo')
          p(class='checkboxText') Creature
          input(type='checkbox' value='creature' name='type' id='checkboxTwoCreature' class='hide')
          label(for='checkboxTwoCreature')
        div(class='checkboxTwo')
          p(class='checkboxText') Instant
          input(type='checkbox' value='instant' name='type' id='checkboxTwoInstant' class='hide')
          label(for='checkboxTwoInstant')
        div(class='checkboxTwo')
          p(class='checkboxText') Sorcery
          input(type='checkbox' value='sorcery' name='type' id='checkboxTwoSorcery' class='hide')
          label(for='checkboxTwoSorcery')
        div(class='checkboxTwo')
          p(class='checkboxText') Enchantment
          input(type='checkbox' value='enchantment' name='type' id='checkboxTwoEnchantment' class='hide')
          label(for='checkboxTwoEnchantment')
        div(class='checkboxTwo')
          p(class='checkboxText') Planeswalker
          input(type='checkbox' value='planeswalker' name='type' id='checkboxTwoPlaneswalker' class='hide')
          label(for='checkboxTwoPlaneswalker')
        div(class='checkboxTwo')
          p(class='checkboxText') Tribal
          input(type='checkbox' value='tribal' name='type' id='checkboxTwoTribal' class='hide')
          label(for='checkboxTwoTribal')
        div(class='checkboxTwo')
          p(class='checkboxText') Land
          input(type='checkbox' value='land' name='type' id='checkboxTwoLand' class='hide')
          label(for='checkboxTwoLand')
        div(class='checkboxTwo')
          p(class='checkboxText') Artifact
          input(type='checkbox' value='artifact' name='type' id='checkboxTwoAtrifact' class='hide')
          label(for='checkboxTwoAtrifact')
      div(class='adv-mana')
        p(class='adv-header') Converted mana cost
        div
          select(name='cm' class='adv-font')
            option(value='') Equal
            option(value='gt') Greater than
            option(value='gte') Great or equal than
            option(value='lt') Less than
            option(value='lte') Less or equal than
          input(type='number' name='cost' min='0' max='99')
      div(class='adv-colors')
        p(class='adv-header') Colors
        div(class='checkboxTwo-black')
          p(class='checkboxText') Black
          input(type='checkbox' value='black' name='color' id='checkboxTwoBlack' class='hide')
          label(for='checkboxTwoBlack')
        div(class='checkboxTwo-blue')
          p(class='checkboxText') Blue
          input(type='checkbox' value='blue' name='color' id='checkboxTwoBlue' class='hide')
          label(for='checkboxTwoBlue')
        div(class='checkboxTwo-red')
          p(class='checkboxText') Red
          input(type='checkbox' value='red' name='color' id='checkboxTwoRed' class='hide')
          label(for='checkboxTwoRed')
        div(class='checkboxTwo-green')
          p(class='checkboxText') Green
          input(type='checkbox' value='green' name='color' id='checkboxTwoGreen' class='hide')
          label(for='checkboxTwoGreen')
        div(class='checkboxTwo-white')
          p(class='checkboxText') White
          input(type='checkbox' value='white' name='color' id='checkboxTwoWhite' class='hide')
          label(for='checkboxTwoWhite')
        div(class='checkboxTwo')
          p(class='nocText') No other colors
          input(type='checkbox' value='true' name='noOtherColors' id='checkboxTwoNoc' class='hide')
          label(for='checkboxTwoNoc')
      div(class='adv-misc')
        p(class='adv-header') Other
        div
          input(name='subtype', placeholder='Subtype' class='adv-font')
        div
          input(name='setName', placeholder='Setname' class='adv-font')
        div
          input(name='text', placeholder='Keywords' class='adv-font')
        div
          input(name='artist', placeholder='Artist' class='adv-font')
    div(class='adv-name-fit')
      div(class='adv-submit')
        button(type='submit', class='adv-submit-button') Search
