extends layout

block content
  h1= title
  form(method='post', action='/advancedsearch')
    div(class='adv-name')
      input(name='name', placeholder='Name' class='adv-name-input' )
    div(class='container')
      div(class='adv-rarity')
        p(class='adv-header') Rarity
        div(class='checkboxTwo')
          p(class='checkboxText') Common
          input(type='checkbox' value='Common' name='rarity' id='checkboxTwoCommon' class='hide')
          label(for='checkboxTwoCommon')
        div(class='checkboxTwo')
          p(class='checkboxText') Uncommon
          input(type='checkbox' value='Uncommon' name='rarity' id='checkboxTwoUncommon' class='hide')
          label(for='checkboxTwoUncommon')
        div(class='checkboxTwo')
          p(class='checkboxText') Rare
          input(type='checkbox' value='Rare' name='rarity' id='checkboxTwoRare' class='hide')
          label(for='checkboxTwoRare')
        div(class='checkboxTwo')
          p(class='checkboxText') Mythic Rare
          input(type='checkbox' value='Mythic Rare' name='rarity' id='checkboxTwoMythic' class='hide')
          label(for='checkboxTwoMythic')
        div(class='checkboxTwo')
          p(class='checkboxText') Special
          input(type='checkbox' value='Special' name='rarity' id='checkboxTwoSpecial' class='hide')
          label(for='checkboxTwoSpecial')
      div(class='adv-stats') Stats
        div Power
          div
            select(name='po')
              option(value='') Equal
              option(value='gt') Greater than
              option(value='gte') Great or equal than
              option(value='lt') Less than
              option(value='lte') Less or equal than
            input(type='number' name='wer' min='0' max='99')
        div Toughness
          div
            select(name='tough')
              option(value='') Equal
              option(value='gt') Greater than
              option(value='gte') Great or equal than
              option(value='lt') Less than
              option(value='lte') Less or equal than
            input(type='number' name='ness' min='0' max='99')
      div(class='adv-type')
        p(class='adv-header') Cardtype
        div(class='checkboxTwo')
          p(class='checkboxText') Creature
          input(type='checkbox' value='creature' name='type' id='checkboxTwoCreature' class='hide')
          label(for='checkboxTwoCreature')
        div(class='checkboxTwo')
          p(class='checkboxText') Instant
          input(type='checkbox' value='instant' name='type' id='checkboxTwoInstant' class='hide')
          label(for='checkboxTwoInstant')
        div(class='checkboxTwo')
          p(class='checkboxText') Sorcery
          input(type='checkbox' value='sorcery' name='type' id='checkboxTwoSorcery' class='hide')
          label(for='checkboxTwoSorcery')
        div(class='checkboxTwo')
          p(class='checkboxText') Enchantment
          input(type='checkbox' value='enchantment' name='type' id='checkboxTwoEnchantment' class='hide')
          label(for='checkboxTwoEnchantment')
        div(class='checkboxTwo')
          p(class='checkboxText') Planeswalker
          input(type='checkbox' value='planeswalker' name='type' id='checkboxTwoPlaneswalker' class='hide')
          label(for='checkboxTwoPlaneswalker')
        div(class='checkboxTwo')
          p(class='checkboxText') Tribal
          input(type='checkbox' value='tribal' name='type' id='checkboxTwoTribal' class='hide')
          label(for='checkboxTwoTribal')
        div(class='checkboxTwo')
          p(class='checkboxText') Land
          input(type='checkbox' value='land' name='type' id='checkboxTwoLand' class='hide')
          label(for='checkboxTwoLand')
        div(class='checkboxTwo')
          p(class='checkboxText') Artifact
          input(type='checkbox' value='artifact' name='type' id='checkboxTwoAtrifact' class='hide')
          label(for='checkboxTwoAtrifact')
      div(class='adv-misc') Annað
        div
          input(name='subtype', placeholder='Subtype')
        div
          input(name='setName', placeholder='Setname')
        div
          input(name='text', placeholder='Keywords')
        div
          input(name='artist', placeholder='Artist')
      div(class='adv-mana') Converted mana cost
        div
          select(name='cm')
            option(value='') Equal
            option(value='gt') Greater than
            option(value='gte') Great or equal than
            option(value='lt') Less than
            option(value='lte') Less or equal than
          input(type='number' name='cost' min='0' max='99')
      div(class='adv-colors') Colors
        div
          input(type='checkbox' value='green' name='color')
          | Green
        div
          input(type='checkbox' value='red' name='color')
          | Red
        div
          input(type='checkbox' value='blue' name='color')
          | Blue
        div
          input(type='checkbox' value='black' name='color')
          | Black
        div(class='white')
          input(type='checkbox' value='white' name='color')
          | White
        div
          input(type='checkbox' value='true' name='noOtherColors')
          | No other colors
    div(class='adv-submit')
      button(type='submit') Leita
  a(href='/advancedsearch') Ítarleg leit
  a(href='/calc') Reiknvél
  a(href='/') Heim
