extends layout

block content
  h1= 'Reiknivél fyrir mana kostnað'
  p= 'hjálpar þér að segja til um blablablab'
  p= title
  form(method='post', action='/calculate')
    input(name='', placeholder='23')
  input(id='blue', type='checkbox')
  | Blátt
  input(id='black', type='checkbox')
  | Svart
  input(id='white', type='checkbox')
  | Hvítt
  input(id='red', type='checkbox')
  | Red
  input(id='green', type='checkbox')
  | Grænt
  input(id='grey', type='checkbox')
  | Litalaust (colourless)
