extends layout

block content
  h1= title
  p Er þetta spilið þitt?
  p Þú slóst inn: #{yourCard}
  ul(class='container')
    each item in card
      li
        a(href='/card/'+ item.name + '$' + item.set)
          img(src= ""+item.imageUrl onerror="this.style.display='none'")
  a(href='/advancedsearch') Ítarleg leit
  a(href='/calc') Reiknvél
  a(href='/') Heim
