extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a' href='/') Home
    li(class='topnav-li')
      a(class='topnav-a' href='/advancedsearch') Advanced search
    li(class='topnav-li')
      a(class='topnav-a' href='/calc') Calculator
    li(class='topnav-li')
      a(class='topnav-a-active') Your Cards
  div(class='card-input')
    p(class='card-input-text') You searched for: #{yourCard}
    if card [0]
      p(class='card-input-text') Click a card for more info
  form(method='get', action='/advancedsearch')
    div(class='calc-submit-fit')
      div(class='calc-submit')
        button(type='submit', class='calc-submit-button') Search again
  ul(class='card-container')
    each item in card
      li
        a(href='/card/'+ item.name + '$' + item.set)
          img(src= ""+item.imageUrl onerror="this.style.display='none'")
  if card [0]
    form(method='get', action='/advancedsearch')
      div(class='calc-submit-fit')
        div(class='calc-submit')
          button(type='submit', class='calc-submit-button') Search again
