extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a' href='/') Heim
    li(class='topnav-li')
      a(class='topnav-a' href='/advancedsearch') Ítarleg leit
    li(class='topnav-li')
      a(class='topnav-a' href='/calc') Reiknivél
    li(class='topnav-li')
      a(class='topnav-a-active') Spilin þín
  div(class='card-input')
    p(class='card-input-text') Þú slóst inn: #{yourCard}
  form(method='get', action='/advancedsearch')
    div(class='calc-submit-fit')
      div(class='calc-submit')
        button(type='submit', class='calc-submit-button') Leita aftur
  ul(class='card-container')
    each item in card
      li
        a(href='/card/'+ item.name + '$' + item.set)
          img(src= ""+item.imageUrl onerror="this.style.display='none'")
