extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a' href='/') Heim
    li(class='topnav-li')
      a(class='topnav-a' href='/advancedsearch') Ítarleg leit
    li(class='topnav-li')
      a(class='topnav-a' href='/calc') Reiknivél
    li(class='topnav-li')
      a(class='topnav-a-active') Spilin þín
  h1(class='calc-top')= title
  p Er þetta spilið þitt?
  p Þú slóst inn: #{yourCard}
  ul(class='card-container')
    each item in card
      li
        a(href='/card/'+ item.name + '$' + item.set)
          img(src= ""+item.imageUrl onerror="this.style.display='none'")
  a(href='/advancedsearch') Ítarleg leit
  a(href='/calc') Reiknvél
  a(href='/') Heim
