extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a-active' href='/') Heim
    li(class='topnav-li')
      a(class='topnav-a' href='/advancedsearch') Ítarleg leit
    li(class='topnav-li')
      a(class='topnav-a' href='/calc') Reiknivél
  div(class='adv-name-fit')
    div(class='home-container')
      h1(class='home-header') Veldu spil
      form(method='post', action='/card' class='home-form')
        input(name='text', placeholder='t.d. Werebear' class='adv-name-input')
        button(type='submit' class='home-submit') LEITA
