extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a-active' href='/') Home
    li(class='topnav-li')
      a(class='topnav-a' href='/advancedsearch') Advanced search
    li(class='topnav-li')
      a(class='topnav-a' href='/calc') Calculator
  div(class='adv-name-fit')
    div(class='home-container')
      h1(class='home-header') Magic The Gathering
      h2(class='home-header') Search for a card
      form(method='post', action='/card' class='home-form')
        input(name='text', placeholder='e.g. Werebear' class='adv-name-input')
        button(type='submit' class='home-submit') Search
  div(class='adv-name-fit')
    div(class='home-container-info')
      h1(class='home-header') Info:
      p(class='calc-p-input')
        | On this site you can search for a card
        | And calculate how much mana you'll need
        | in your deck. If you want a more specific
        | search you can go to advance search. To use
        | the calculator press the calculator button
        | on the top navigation bar. This is a project
        | by Geir Garðarsson and Daníel Guðnason for
        | the University of Iceland.
