extends layout

block content
  h1= title
  p Veldu spil
  form(method='post', action='/card')
    input(name='text', placeholder='t.d. Werebear')
    button(type='submit') Leita
  a(href='#') Ítarleg leit
  a(href='#') Reiknivél
