extends layout

block content
  ul(class='topnav')
    li(class='topnav-li')
      a(class='topnav-a-active' href='/') Home
    li(class='topnav-li')
      a(class='topnav-a' href='/advancedsearch') Advanced search
    li(class='topnav-li')
      a(class='topnav-a' href='/calc') Calculator
    li(class='topnav-li')
      a(class='topnav-a' href='/lifecounter') Life total
  div(class='adv-name-fit')
    div(class='home-container')
      h1(class='home-header') Magic The Gathering
      p(class='calc-p-input-home')
        | Here you can go to the advanced search
        | page and search for card that match a
        | specific criteria. You can also use the
        | quick search function below to search for
        | a card name
      h2(class='home-header') Quick Search
      form(method='post', action='/card' class='home-form')
        input(name='text', placeholder='e.g. Werebear' class='adv-name-input')
        button(type='submit' class='home-submit') Quick Search
      form(method='get', action='/advancedsearch' class='home-form')
        button(type='submit' class='home-submit') Advanced Search
  div(class='adv-name-fit')
    div(class='home-container-middle')
      h1(class='home-header') Calculator
      p(class='calc-p-input-home')
        | Dont know how many lands of
        | each color you should have in
        | your deck? Just count all your
        | mana symbols and use our calculator:
      form(method='get', action='/calc' class='home-form')
        button(type='submit' class='home-submit') Calculator
  div(class='adv-name-fit')
    div(class='home-container-middle')
      h1(class='home-header') Life Counters
      p(class='calc-p-input-home')
        | Playing with friends and forgot
        | To bring dies or paper to keep
        | track of your life total? No worries
        | you can use our life total:
      form(method='get', action='/lifecounter' class='home-form')
        button(type='submit' class='home-submit') Life Total
  div(class='adv-name-fit')
    div(class='home-container-info')
      h1(class='home-header') Info:
      p(class='calc-p-input-home')
        | On this site you can search for a card
        | and calculate how much mana you'll need
        | in your deck. If you want a more specific
        | search you can go to advance search. To use
        | the calculator press the calculator button
        | on the top navigation bar. This is a project
        | by Geir Garðarsson and Daníel Guðnason for
        | the University of Iceland.
      div
        p(class='calc-p-input-home') Powered by
          a(class='ref-link' href='https://magicthegathering.io/')  magicthegathering.io
