doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/calcstyle.css')
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
  body
    block content
