body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
}
