body {
  padding: 0;
  margin: 0;
  font: 14px 'Bree Serif', serif;
  background-image: url('/images/serraangel.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  cursor: default;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  font: 'Bree Serif', serif;
}

a {
  text-decoration: none;
}

td {
  width: 40%;
}

tr:nth-child(even) {
  background-color: #ddd
}

.home-header {
  font-size: 30px;
  font-weight: bold;
  margin: 4.1%;
  margin-right: 0;
  margin-top: 2%;
}

.home-form {
  margin: 5%;
  margin-top: 2%;
}

.home-container {
  background-color: gray;
  opacity: 0.8;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 7%;
  width: 65%;
}

.home-submit {
  font-family: 'Bree Serif', serif;
  cursor: pointer;
  background-color: #111;
  border: none;
  color: #ddd;
  border-radius: 10px;
  padding: 10px 175px;
  font-weight: bold;
  width: 100%;
}

.card-input {
  margin-top: 5%;
  margin-bottom: 1%;
  text-align: center;
  display: flex;
  justify-content: center;
}

.card-input-text {
  background-color: gray;
  padding: 1%;
  border-radius: 15px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5.5%;
  padding-top: 0;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 3%;
}

.adv-form {
  padding: 3%;
  margin-top: 2%;
  padding-bottom: 2%;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #111;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  opacity: 0.97;
}

.topnav-active {
  background-color: gray;
}

.topnav-li {
  display: block;
}

.topnav-a {
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  float: left;
  display: block;
  color: #ddd;
}

.topnav-a-active {
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  float: left;
  display: block;
  background-color: #333;
  color: #ddd;
}

.topnav-a:hover {
  background-color: #ddd;
  color: #111;
}

.topnav-a-active:hover {
  background-color: #ddd;
  color: #111;
}

li {
  list-style-type: none;
  margin-bottom: -0.3%;
}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.info-left {
  padding: 2%;
  margin: 2%;
}

.info-right {
  padding: 2%;
  width: 40%;
  margin: 2%;
  background-color: gray;
  border-radius: 25px;
  margin-top: 5%;
  opacity: 0.8;
}

.info-img {
  width: 334.5px;
  height: 465px;
}

.info-table {
  width: 100%;
}

.adv-submit {
  display: flex;
  justify-content: center;
  background-color: gray;
  opacity: 0.9;
  padding: 0.5%;
  border-radius: 10px;
  width: 390px;
}

.adv-submit-button {
  cursor: pointer;
  background-color: #111;
  border: none;
  color: #ddd;
  border-radius: 10px;
  padding: 10px 175px;
  font-weight: bold;
  font-family: 'Bree Serif', serif;
}

button:hover {
  color: #111;
  background-color: #ddd;
}

.adv-name {
  display: flex;
  justify-content: center;
  padding: 0.5%;
  background-color: gray;
  opacity: 0.9;
  width: 380px;
  border-radius: 10px;
  margin-bottom: 3%;
}

.adv-name-input {
  width: 100%;
  line-height: 32px;
  font-size: 26px;
  font-family: 'Bree Serif', serif;
}

.adv-name-fit {
  display: flex;
  justify-content: center;
}

.adv-rarity {
  padding: 0.5%;
  background-color: gray;
  opacity: 0.9;
  border-radius: 10px;
  margin-bottom: 1%;
}

.adv-stats {
  padding: 0.5%;
  background-color: gray;
  opacity: 0.9;
  border-radius: 10px;
  margin-bottom: 1%;
}

.adv-font {
  font-family: 'Bree Serif', serif;
}

.adv-type {
  padding: 0.5%;
  background-color: gray;
  opacity: 0.9;
  border-radius: 10px;
  margin-bottom: 1%;
}

.adv-mana {
  padding: 0.5%;
  background-color: gray;
  opacity: 0.9;
  border-radius: 10px;
  margin-bottom: 1%;
}

.adv-misc {
  padding: 0.5%;
  background-color: gray;
  opacity: 0.9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1%;
}

.adv-colors {
  padding: 0.5%;
  background-color: gray;
  opacity: 0.9;
  border-radius: 10px;
  margin-bottom: 1%;
}

.white {
  margin-bottom: 20%;
}

.checkboxTwo {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo input[type=checkbox]:checked+label {
  left: 114px;
  background: #26ca28;
}

.checkboxTwo-black {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo-black:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo-black label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo-black input[type=checkbox]:checked+label {
  left: 114px;
  background: #111;
}

.checkboxTwo-blue {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo-blue:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo-blue label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo-blue input[type=checkbox]:checked+label {
  left: 114px;
  background: #a3d3ea;
}

.checkboxTwo-red {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo-red:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo-red label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo-red input[type=checkbox]:checked+label {
  left: 114px;
  background: #eba58c;
}

.checkboxTwo-green {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo-green:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo-green label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo-green input[type=checkbox]:checked+label {
  left: 114px;
  background: #92c6a4;
}

.checkboxTwo-white {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo-white:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo-white label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo-white input[type=checkbox]:checked+label {
  left: 114px;
  background: #efedcb;
}

.checkboxTwo-C {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo-C:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo-C label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo-C input[type=checkbox]:checked+label {
  left: 114px;
  background: #111;
}

.checkboxTwo-UC {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo-UC:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo-UC label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo-UC input[type=checkbox]:checked+label {
  left: 114px;
  background: #b5d2dc;
}

.checkboxTwo-R {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo-R:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo-R label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo-R input[type=checkbox]:checked+label {
  left: 114px;
  background: #e6d09e;
}

.checkboxTwo-MR {
  width: 150px;
  height: 40px;
  background: #333;
  margin: 10px 3px;
  border-radius: 50px;
  position: relative;
}

.checkboxTwo-MR:before {
  content: '';
  position: absolute;
  top: 19px;
  left: 14px;
  height: 2px;
  width: 120px;
  background: #111;
}

.checkboxTwo-MR label {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 9px;
  z-index: 1;
  left: 12px;
  background: #ddd;
}

.checkboxTwo-MR input[type=checkbox]:checked+label {
  left: 114px;
  background: #ce3d28;
}

.hide {
  opacity: 0;
}

.checkboxText {
  color: #ddd;
  text-align: center;
  cursor: default;
  margin-top: -2%;
}

.nocText {
  color: #ddd;
  text-align: center;
  cursor: default;
  margin-top: -2%;
  font-size: 12px;
}

.adv-header {
  color: #111;
  text-align: center;
  margin: 0px;
  font-size: 17px;
  cursor: default;
}

.calc-top {
  margin-top: 5%;
}
